body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    width: 100px;
}

td, tr, img {
    margin: 0;
    padding: 0;
    height: 120px;
    width: 120px;
}

img {
    height: 100%;
}

td {
    background-color: grey;
}





